

<header class="header">
	<div class="layout">
		<a href="/" class="logo">
			<img src="static/img/content/logo.png" alt="aero trainig logo">
			<span class="logo__wrap">
				<strong>aero</strong>
				<b>training</b>
			</span>
		</a>
		<button class="trigger">
			<span></span>
		</button>
		<div class="header__wraper">
			{{> search/search}}
			<div class="user">
				<a href="#" class="user__download"><i class="icon-cloud-blue"></i></a>
				<a href="#" class="user__pic"><img src="static/img/content/user.jpg" alt="user phooto" class="user__img"></a>
			</div>
		</div>
	</div>
</header>