
<header class="header">
	<div class="layout">
		<a href="/" class="logo">
			<img src="static/img/content/logo.png" alt="aero trainig logo">
			<span class="logo__wrap">
				<strong>aero</strong>
				<b>training</b>
			</span>
		</a>
		<button class="trigger"> <!-- can have class "is-active" -->
			<span  class="trigger__item"></span>
		</button>
		<div class="header__wraper"> <!-- can have class "is-active" -->
			{{> search/search}}
			<div class="user">
				<a href="#" class="user__login">Log in</a>
				<a href="#" class="user__join">join us</a>
			</div>
		</div>
	</div>
</header>