<aside class="aside">
	<div class="aside__header">
		<h3 class="title__section">Course name</h3>
		<p class="aside__subtitle">by
			<a href="#">Author Name</a>
		</p>
		<div class="showaside">Show All Modules</div>
	</div>
	<div class="aside__wrap is-shown">
		<div class="module is-close is-finished">
			<div class="module__header">
				<h4 class="title__m">Module 1</h4>
				<!-- <div class="module__arrows"> -->
					<i class="icon-arrow"></i>
					<i class="icon-checked"></i>
				<!-- </div> -->
			</div>
			<ul class="module__list">
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
			</ul>
		</div>
		<!-- 2 -->
		<div class="module is-open">
			<div class="module__header">
				<h4 class="title__m">Module 2</h4>
				<!-- <div class="module__arrows"> -->
					<i class="icon-arrow"></i>
					<i class="icon-checked"></i>
				<!-- </div> -->
			</div>
			<ul class="module__list">
				<li class="module__item  is-finished"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item is-active"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
			</ul>
		</div>
		<!-- 3 -->
		<div class="module is-close ">
			<div class="module__header">
				<h4 class="title__m">Module 3</h4>
				<!-- <div class="module__arrows"> -->
					<i class="icon-arrow"></i>
					<i class="icon-checked"></i>
				<!-- </div> -->
			</div>
			<ul class="module__list">
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
			</ul>
		</div>
		<!-- 4 -->
		<div class="module is-close">
			<div class="module__header">
				<h4 class="title__m">Module 4</h4>
				<!-- <div class="module__arrows"> -->
					<i class="icon-arrow"></i>
					<i class="icon-checked"></i>
				<!-- </div> -->
			</div>
			<ul class="module__list">
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
			</ul>
		</div>
		<!-- 5 -->
		<div class="module is-close">
			<div class="module__header">
				<h4 class="title__m">Module 5</h4>
				<!-- <div class="module__arrows"> -->
					<i class="icon-arrow"></i>
					<i class="icon-checked"></i>
				<!-- </div> -->
			</div>
			<ul class="module__list">
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
				<li class="module__item"><span>Lesson Name 1</span><span>12 min</span></li>
			</ul>
		</div>
	</div>
</aside>
